:root {
  --primary-color: #ff8787;
  --secondary-color: #e7e7e7;
  --third-color: #ededed;
}

@media (max-width: 980px) {
}

nav {
  font-family: "Dancing Script", cursive;
  font-weight: 700;
  font-size: 28px;
  background-color: var(--secondary-color);
  padding: 0;
}
nav .barywool {
  font-size: 54px;
  height: 80px;
  color: var(--primary-color);
}
.nav-link:hover {
  color: var(--primary-color);
}

header {
  margin-top: 55px;
  padding-right: 50px;
  padding-top: 150px;
  padding-bottom: 150px;
  background: url(/img/banner2.png);
  min-height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  font-weight: 700;
  color: white;
  text-align: right;
}
header h1 {
  font-family: "Dancing Script", cursive;
  font-size: 200px;
}
header h5 {
  font-size: 40px;
  position: relative;
  top: -50px;
}
